@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:'Poppins', sans-serif;
$starbucks-green:#006241;
$color-secondry:#d50032;
$third-color:#d4e9e2;
$black-text:rgb(14, 14, 14);
$white-text:rgb(255, 255, 255);