.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid $black-text;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: 0.09s ease-in-out
}


.btn-dark {
    @extend .btn;
    background-color: $black-text;
    color: $white-text;
    font-weight: 600;
    font-size: 14px;
    &:hover {
        background-color: lighten($black-text, 25%);
    }
}

.btn-dark-outline {
    @extend .btn; 
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
    background-color: inherit !important;
    &:hover {
        color: $white-text;
        background-color:rgba(255, 255, 255, 0.219);
    }
}

.btn-cards {

    @extend .btn;
    &:hover {
        border: 1px solid #fff;
        color: $white-text;
        background-color:rgba(255, 255, 255, 0.219);
    }

}
.btn-cards-darken {

    @extend .btn;
    &:hover {
        border: 1px solid #ada4a438;
        color: $white-text;
        background-color:#ada4a438;
    }

}

.link-btn {
    &:hover{
    color: $white-text;
    }
}

.bg-primary {
    background-color: $starbucks-green;
    color: $white-text;
}
.bg-secondry {
    background-color: $color-secondry;
    color: $white-text;
}

.bg-third {
    background-color: $third-color;
    color: $black-text;
}

.bg-extra {
  background-color:$third-color;
  color: $black-text;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-lg {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm {
    font-size: 19px;
    margin-bottom: 20px;
}


.py-sm {
    padding: 10px 0;
}
.py-md {
    padding: 20px 0;
}
.py-lg {
    padding: 40px 0;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

